.socimg{
    width: 6vw;
    padding: 1em;
}

footer{
    background-color: rgb(0, 0, 0);
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.socials{
    padding: 1em;
}

.footleft{
    text-align: center;
}

.footright{
    text-align: center;
}

.foottxt{
    margin-top: 2em;
    padding: 1em;
}