#hero{
    max-width: 100%;
    block-size: auto;
}

#hero img{
    width: 100%;
}

video{
    width: 100%;
    height: auto;
}

#welcome{
    position:absolute;
    margin-top: 20vw;
    width: 100%;
    text-align: center;
    z-index:1;
    font-size: 8vw;
    color: #fff;
    
}